.header {
    background-color: darkblue;
    padding: 30px;
    text-align: center;
    font-size: 15px;
    color: white;
    
}


.left div {
    height: 50%;
}
.card-body {
    background-color: darkblue;
    color: white;
    width: 175px;
    height: auto;

}
#searchbtn {
    background-color: darkblue;
    color: whitesmoke;
    border-radius: 40px;
}